/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

#container{
    width: 600px;
    margin: auto;
    background-color: #51473D;
    border: 1px groove #FFEFD5;
}

body {
    color: #5D5348;
}

#topbar {
    width: 600px;
    text-align: right;
    height: 200px;
    background-image:url('pics/coffey.jpg');
    background-repeat: no-repeat;
    background-size: 100% 90%;
    background-position:center bottom; 
    background-color: #51473D;
    margin-bottom: -17px;
    color: #f9f6eb;
}

#menu > a:first-child { 
    display: none;
    }

#subcontent {
    width: 240px;
    margin-left: 350px;
    margin-right: 10px;
    min-height: 400px;
}

#maincontent {
    float:left;
    width: 340px;
    margin-left: 10px;
    border-right: dotted 1px #000;
}

#content {
    background-color: #EAE7D2;
    padding-top: 1px;
    border-top: 2px groove #EAE7D2;
}

#bottomcontent {

}

#menu {
    background-color: #51473D;
    height: 40px;
    margin: 1px;
}

#menu ul {
    list-style: none;
    margin-left: -27px;
}

#menu li {
    float: left;
    margin-right: 2px;
    
    color: #000;
    
}

#menu a {
    background-color: #797066;
    margin-top: 6px;
    color: #f9f6eb;
    text-decoration: none;
    display:block;
    padding: 5px;
    padding-right: 22px;
    padding-left: 22px;
    padding-bottom: 11px;
}

#menu a:hover {
    background-color: #000;
}

#menu .active a {
    color: #5D5348;
    background-color: #EAE7D2;
    margin-top: 7px;
}



