/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

#container{
    width: 600px;
    margin: auto;
    background-color: #8B4513;
}

#topbar {
    width: 600px;
    text-align: right;
    height: 250px;
    background-image:url('pics/coffey.jpg');
    background-repeat: no-repeat;
    background-size: 100% 99%;
    background-position:center bottom; 
    position: relative;
    top: 12px;
    background-color: #8B4513;
}

#menu > a:first-child { 
    display: none;
    }

#subcontent {
    width: 240px;
    background-color: #FF0000;
    margin-left: 350px;
    margin-right: 10px;
}

#maincontent {
    float:left;
    width: 340px;
    margin-left: 10px;
    background-color: #6A5ACD;
}

#content {
    background-color: #FFEFD5;
    padding-top: 1px;
}

#bottomcontent {

}

#menu {
    background-color: #8B4513;
    height: 40px;
    margin: 1px;
}

#menu ul {
    list-style: none;
    margin-left: -27px;
}

#menu li {
    float: left;
    margin-right: 1px;
    background-color: #708090;
    color: #000;
}

#menu a {
    color: #000;
    text-decoration: none;
    display:block;
    padding: 10px;
    padding-right: 22px;
    padding-left: 22px;
    padding-bottom: 11px;
}

#menu a:hover {
    background-color: #000;
}

#menu .active a {
    color: red;
    background-color: #FFEFD5;
}



